
  <h1 class="title">
    <%= @article.title %>
  </h1>
<figure class="image is-4by3">
    <%= image_tag(@article.image) %>
</figure>



  <p class="subtitle">
    <%= @article.description %>
  </p>

<% if signed_in? && current_user.admin? %>
  <%= link_to 'Edit', edit_article_path(@article), class: "button is-info" %><br>
<% end %>
<%= link_to 'Back', articles_path, class: "button is-warning" %>
