<p class="title">Contact Us</p>
<div class="columns is-centered">
  <div class="column is-5">
    <%= form_with(url: "/home/thank_you", method: "Post", local: true ) do |form| %>
      <div class="field">
        <%= form.label :name, class: "control" %>
        <%= form.text_field :name, class: "control input" %>
      </div>
      <div class="field">
        <%= form.label :email, class: "control" %>
        <%= form.text_field :email, class: "control input" %>
      </div>
      <div class="field">
        <%= form.label :message, class: "control" %>
        <%= form.text_area :message, class: "control input" %>
      </div>
      <%= form.submit "Send", class: "button is-info" %>
    <% end %>
  </div>
</div>
