<% if !@products && !@articles %>
  <h1 class="subtitle">Search for an album or artist!</h1>
<% end %>

<% if @products %>
  <% @products.each do |product| %>
    <h1 class="title"><%= product.artist %></h1>
    <h1 class="subtitle"><%= product.album %></h1>
  <% end %>
<% end %>

<% if @articles %>
  <% @articles.each do |article| %>
    <h1 class="title"><%= article.title %></h1>
    <p><%= article.description %></p>
    <p><%= truncate(article.body) %></p>
  <% end %>
<% end %>
