<h1 class="title">Orders</h1>

<% @orders.each do |order| %>
<div class="container">
  <%= link_to order.id, order %> 
  <p><strong>Order id:</strong><%= order.id %></p>
  <p><strong>User id:</strong><%= order.user_id %>
  <%= order.user.first_name %><br>
  <%= order.user.last_name %>
  <p>Cart Id:<%= order.cart_id %></p>
  <hr>
</div>
<% end %>
