<h1 class="title">Orders</h1>
<% if @orders.count > 0 %>
  <%= form_with(url: orders_path, method: 'get', local: true) do |form| %>
    <%= form.label :q, 'Search Orders by Order Number' %>
    <%= form.text_area :q, id: 'q', value: params[:q] %>
    <%= form.submit 'Search' %>
  <% end %>
<% end %>

<% if @orders.count == 0 %>
  <h1>You have no orders</h1>
<% end %>
<% @orders.each do |order| %>
<div class="container">
  <p><strong>Order id:</strong><%= link_to order.id, order %></p>
  <% if current_user.admin? %>
  <p><strong>User id:</strong><%= order.user_id %><br>
  <% end %>
  <strong>First Name:</strong><%= order.user.first_name %><br>
  <strong>Last Name:</strong><%= order.user.last_name %>
  <p><strong>Cart Id:</strong><%= order.cart_id %></p>
  <p><strong>Order Status:
    <% if order.cart.status == 3 %> <strong>Shipped</strong><% end %>
    <% if order.cart.status == 2 %> <strong>Awaiting Shipment</strong> <% end %></strong></p>
  <hr>
</div>
<% end %>
