<h1 class="title"><%= @product.artist %></h1>
<p class="subtitle"><%= @product.album %></p>
<figure class="image is-4by3">
  <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
</figure>
<p><%= @product.description %></p>
<% if @product.price %>
  <strong><p><%= number_to_currency(@product.price/100.to_f) %></p></strong>
<% end %>
<% if signed_in? && current_user.admin? %>
  <%= link_to 'Edit', edit_product_path(@product), class:"button is-info"%><br>
  <%= link_to 'delete', @product, method: :delete, data: { confirm: "Are you sure?" }, class: "button is-danger" %>
<% end %>
<% if @cart.status == 1 %>
  <%= button_to 'Add to Cart', line_items_path(product_id: @product), class: 'button is-danger add-to-cart' %>
<% end %>
<%= link_to 'Back', products_path, class: "button is-danger" %>
